.duree {
  grid-area: d1;
  background: $background1;
  margin: 10px 10px 50px 50px;
  padding: 20px;

  .txt_duree {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 50px;
  }
}
