.footer {
  display: flex;
  justify-content: space-evenly;
  height: 8vh;
  width: 100%;
  align-items: center;
  background: black;
  color: white;

  .footer_logo {
    img {
      height: 60px;
    }
  }
  p {
    font-size: 14px;
    color: white;
  }
  @media (max-width: 1000px) {
    gap: 10px;
    .footer_logo {
      img {
        height: 45px;
      }
    }
    p {
      font-size: 9px;
      text-align: center;
    }
  }
  @media (max-width: 550px) {
    .footer_logo {
      img {
        height: 30px;
      }
    }
  }
}
