.nav {
  height: 10vh;
  margin-bottom: 50px;

  .container_nav {
    margin: 0 auto;
    height: 100%;

    ul {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 18px;
      img {
        width: 60px;
      }
    }
  }
}
