.nav {
  height: 7vh;
  margin-bottom: 50px;
  position: fixed;
  width: 100%;
  margin: 0 auto;
  background: #f3f3f380;
  z-index: 2;

  .container_nav {
    margin: 0 auto;
    width: 75%;
    height: 100%;

    ul {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 18px;
      img {
        width: 60px;
      }
    }
  }
}
