.prix {
  position: relative;
  background: url(../../../public/images/background.jpg) fixed center/cover;
  z-index: 1;
  padding-bottom: 100px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(
      255,
      255,
      255,
      0.432
    ); /* Couleur et opacité de l'overlay */
    z-index: -1; /* Derrière le contenu */
  }
  h1 {
    text-align: center;
    padding: 100px 0 100px 0;
    letter-spacing: 3px;
    font-size: 52px;
  }
  .txt_prix {
    p {
      padding-bottom: 100px;
      width: 75%;
      margin: 0 auto;
    }

    .tableau_tarif {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      width: 75%;
      margin: 0 auto;
      border-top: 1px solid $border;

      padding-bottom: 100px;
      p {
        width: 100%;
        text-align: center;
        border: 1px solid $border;

        padding: 10px;
      }
    }
  }
}
