@font-face {
  font-family: "text";
  src: url(../fonts/Adamina-Regular.ttf);
}
@font-face {
  font-family: "title";
  src: url(../fonts/Mulish-VariableFont_wght.ttf);
}
@font-face {
  font-family: "h1";
  src: url(../fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

$color1: #eae7ec;
$text: #044b50;
$background1: #f2eff3;
$title: #044347;
$border: #d0cdd7;
$nav: #eae7ec;
$background: #faf9fb;
$button: #044347;
$hover: #044247d0;

$font-title: "title", sans-serif;
$font-text: "text", serif;
$h1: "h1", serif;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;
}
body {
  margin: 0 auto;
  min-height: 100vh;
  padding: 0;
  // max-width: 1440px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-title;
  color: $title;
}
p,
a {
  font-family: $font-text;
  color: $text;
}
button {
  background-color: $button;
  color: white;
  font-size: 20px;
  width: 250px;
  height: 70px;
  margin: 0 auto;

  &:hover {
    background-color: $hover;
    cursor: pointer;
  }
}
.margin {
  height: 250px;
}
